<ion-header>
  <ion-toolbar>
    <ion-title >
      Phone toolkit
    <img className= "logo" class = 'Logo'  src="https://www.inventicons.com/uploads/iconset/158/wm/32/Mobile-Block-88.png" alt="">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card (click)='qr()'>
    <ion-item>
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-title>Agregar telefono</ion-title>
    </ion-item>
  
    <ion-card-content>
      usa un qr para agregar un dispositivo android nuevo a la lista 
    </ion-card-content>
  </ion-card>
  
  <ion-card (click)='mngr()'>
    <ion-item>
      <ion-icon name="hammer-outline"></ion-icon>
      <ion-title>Administrar telefonos</ion-title>
    </ion-item>
  
    <ion-card-content>
      administra los dispositivos android que ya hayas agregado
    </ion-card-content>
  </ion-card>
  

</ion-content>
