<ion-header>
  <ion-toolbar>
    <ion-title>Manager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- List Full Lines -->
<ion-list lines="full">
  <ion-item>
    <ion-button [routerLink]="['/main']">
      <ion-icon name="arrow-back-circle-sharp" slot="start"></ion-icon>
      Atras
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-label>(860) 407-1821</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>(748) 631-7999</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>(727) 940-7920</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>(547) 424-5170</ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label>(815) 619-7429</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>(638) 878-1416</ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label>(757) 288-4569</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>(681) 494-6945</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>(975) 400-6358</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>(908) 543-0330</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>(853) 572-2582</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>(866) 644-1755</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>(860) 407-1821</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>(748) 631-7999</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>(727) 940-7920</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>(547) 424-5170</ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label>(815) 619-7429</ion-label>
  </ion-item>

  <ion-item >
    <ion-label (click) = 'tools()'>(638) 878-1416</ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label>(757) 288-4569</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>(681) 494-6945</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>(975) 400-6358</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>(908) 543-0330</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>(853) 572-2582</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>(866) 644-1755</ion-label>
  </ion-item>
</ion-list>

</ion-content>
