<ion-header>
  <ion-toolbar>
    <ion-title>Herramientas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full">
    <ion-item>
      <ion-button [routerLink]="['/manager']">
        <ion-icon name="arrow-back-circle-sharp" slot="start"></ion-icon>
        Atras
      </ion-button>
    </ion-item>
    <ion-card (click)='qr()'>
      <ion-item>
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-title>Bloquear</ion-title>
      </ion-item>
    
      <ion-card-content>
        Usa esta opción para bloquear el dispositivo.  
      </ion-card-content>
    </ion-card>
    
    <ion-card (click)='qr()'>
    <ion-item>
      <ion-icon name="lock-open-outline"></ion-icon>
      <ion-title>Desbloquear</ion-title>
    </ion-item>

    <ion-card-content>
      Usa esta opción para desbloquear el dispositivo. 
    </ion-card-content>
  </ion-card>

    <ion-card (click)='qr()'>
      <ion-item>
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-title>Set Payday </ion-title>
      </ion-item>
    
      <ion-card-content>
        Usa esta opción para agregar los dias de pago del dispositivo.
      </ion-card-content>
    </ion-card>
    
    <ion-card (click)='del()'>
      <ion-item>
        <ion-icon name="trash-outline"></ion-icon>
        <ion-title>Delete the App</ion-title>
      </ion-item>
    
      <ion-card-content>
        Borra la aplicacion del telefono. 
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
